<div class="container">
	<div class="row">

		<div class="col-md-8 col-md-offset-4">
			<h1 class="home-title">Code Labについて</h1>
				<p class="about-summary">Code Labはエンジニアのもくもく会情報を<br>提供するエンジニア専用のSNSです。</p>
			<h1 class="about-title">＜Code Labの使い方＞</h1>
		</div>
		<div class="col-md-12">
				<div class="about-box">
					<div class="about-logo"><i class="far fa-hand-point-up fa-4x icon-type"></i></div>
					<p class="about-text">①アカウントを新規登録</p>
				</div>
				<div class="about-box">
					<div class="about-logo"><i class="fas fa-search-plus fa-4x icon-type"></i></div>
					<p class="about-text">②投稿されているもくもく会情報をチェック</p>
				</div>
				<div class="about-box">
					<div class="about-logo"><i class="fas fa-check-circle fa-4x icon-type"></i></div>
					<p class="about-text">③行きたいもくもく会に参加希望する</p>
				</div>
				<div class="about-box">
					<div class="about-logo"><i class="fas fa-walking fa-4x icon-type"></i></div>
					<p class="about-text">④応募したもくもく会に実際に参加する</p>
				</div>



		</div>
	</div>
</div>