<div class="container">
	<div class="row">

		<div class="col-md-8 col-md-offset-3">
			<h1 class="home-title">Code Labについて</h1>
				<p class="about-summary">Code Labはエンジニアのもくもく会情報を提供する<br>エンジニア専用のSNSです。</p>
			<h2>＜Code Labの使い方＞</h2>
				<p class="about-text">1.アカウントを新規登録</p>
				<p class="about-text">2.投稿されているもくもく会情報をチェック</p>
				<p class="about-text">3.行きたいもくもく会に参加希望する</p>
				<p class="about-text">4.応募したもくもく会に実際に参加する</p>
		</div>
	</div>
</div>