<div class="container">
	<div class="row">


		<div class="col-md-8 col-md-offset-3">
			<h1 class="home-title">Code Lab</h1>
			<h3 class="home-sub-title">エンジニア同士の繋がりをもっと身近に</h3>

			<p>エンジニアにとって最新の技術や情報を<br>キャッチアップすることは必要不可欠です。<br>
				現代はインターネットやテレビ、書籍など情報収拾の方法はたくさんあります。<br>
				そんな中でも人との繋がりも意識してほしい。<br>
				エンジニア同士の繋がりにより、知識や仲間、情報収拾にも繋がります。</p>

		</div>
	</div>
</div>