<div class="container">
	<div class="row">


		<div class="col-md-9 col-md-offset-3">
			<h1 class="home-title">Code Lab</h1>
			<h2 class="home-sub-title">エンジニア同士の繋がりをもっと身近に</h2>

			<p class="home-text">エンジニアとして活躍する為には<br>日々勉強して成長しなければいけません。
				<br><br>人と繋がり、情報を共有することで成長スピードも上がります。<br><br>
				Code Labはプログラミング初心者〜ベテランエンジニアまで<br>より多くの人が繋がれるキッカケを提供します。</p>

		</div>
	</div>
</div>