/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
   @import "bootstrap-sprockets";
   @import "bootstrap";

   header {
   	height: 100px;
   	background-color: limegreen;
   }

   nav {
    position: relative;
	height: 100px;
	margin: 0 auto;
	}

	.lab-logo {
	position: absolute;
	top: 35px;
	left: 30px;
	color: white;
	font-size: 25px;
	}

	.list-signin {
	position: absolute;
	top: 35px;
	right: 20px;
    }

    .list {
	display: inline-block;
	font-size: 15px;
	margin: 0 15px;
	}

	.link-color {
	color: white;
	text-decoration: none;
	font-size: 20px;
	}

	.recruit-text {
		margin-top: 100px;
	}

