// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-title {
	margin-top: 70px;
	margin-bottom: 50px;
	font-size :40px;
}

.home-sub-title {
	margin-bottom: 50px;
	font-weight:  bold;
}

.home-text {
	font-size: 20px;
}

.about-summary {
	font-size: 20px;
	margin-bottom: 50px;
}

.about-title {
	margin-top: 100px;
	margin-bottom: 40px;
	font-weight:  bold;
}

.about-box {
	width: 250px;
	position:relative;
	font-size: 20px;
	margin-left: 30px;
	float: left;
}

.about-logo {
	height: 100px;
	margin-bottom: 15px;
	text-align: center;
}

.about-text {
	font-size: 20px;
	font-weight: bold;
}

.icon-type {
	color: orange;
}