// Place all the styles related to the labs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#lab_title {
	border: 1px solid black;
}

#lab_introduction {
	border: 1px solid black;
}

#lab_month {
	border: 1px solid black;
}

#lab_day {
	border: 1px solid black;
}

#lab_time {
	border: 1px solid black;
}

#lab_region {
	border: 1px solid black;
}

#lab_place {
	border: 1px solid black;
}

#lab_language {
	border: 1px solid black;
}

#lab_price {
	border: 1px solid black;
}

#lab_people {
	border: 1px solid black;
}

.button {
	height: 70px;
	width: 77px;
	position: fixed;
	background-color: #37beb0;
	color: white;
	top: 87%;
	left: 58%;
	text-align: center;
	font-size: 45px;
	border-radius: 50%;
}

.button:hover {
	text-decoration: none;
	color: white;
}

.lab-title:hover {
	text-decoration: none;
}

.lab-user-name:hover {
	text-decoration: none;
}