// Place all the styles related to the labs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.button {
	height: 70px;
	width: 77px;
	position: fixed;
	background-color: #37beb0;
	color: white;
	top: 87%;
	left: 58%;
	text-align: center;
	font-size: 45px;
	border-radius: 50%;
}

.button:hover {
	text-decoration: none;
	color: white;
}

.lab-title:hover {
	text-decoration: none;
}

.lab-user-name:hover {
	text-decoration: none;
}