

        <p>
          <% if @lab.attended_by?(current_user) %>
            <%= link_to lab_attends_path(@lab.id), method: :delete do %>
               <span class="btn btn-success">参加希望済み</span>
            <% end %>
          <% else %>
            <%= link_to lab_attends_path(@lab.id), method: :post do %>
              <span class="btn btn-info">参加を申し込む</span>
            <% end %>
          <% end %>
        </p>